.scrollable {
  overflow: auto;
}

.scrollable::-webkit-scrollbar {
  width: 4px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
  border-radius: ;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #1d8eabd7;
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #1d8eab;
}
